<div>
  <div>
    <a href="<%= repo[:url] %>" target="_blank">
      <%= repo[:name] %>
    </a>
    <img src="<%= repo[:avatar_url] %>">
  </div>
  <div>Owner: <%= repo[:owner] %></div>
  <div>Description: <%= repo[:description] %></div>
  <div>Stars: <%= repo[:stars] %></div>
  <div>Watchers: <%= repo[:watchers] %></div>
  <div>Language: <%= repo[:language] %></div>
  <div>Tags: <%= repo[:tags] %></div>
  <div>Forks: <%= repo[:forks] %></div>
  <div>Open Issues: <%= repo[:issues] %></div>
</div>
